@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap');

/* RESETS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: clip;
}

/* UTILITY CLASSES */
.parallax-effect{
    animation: parallax-effect linear both;
    animation-timeline: scroll();
}

.sr-only{
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

.scroll-reveal{
    animation: scroll-reveal linear forwards;
    animation-timeline: view(block);
    background: linear-gradient(
        90deg,
        white,
        white
    ) no-repeat;
    background-size: 0%;
    background-clip: text;
}

.reveal-fade{
    animation: reveal-fade both;
    animation-timeline: view();
}
.code-comments{
    color: #5E9A52;
}

.code-tag{
    color: #4D91C9;
}

.code-name{
    color: #379ff5;
}

.code-value{
    color: #EF8924;
}

.int{
    color: #5E9A52;
}

.code-indent{
    margin: 1rem;
}


/* CONTENT STYLES */
.wrapper{
    width: 100%;

}


.site-nav{
    position: fixed;
    top: 0;
    z-index: 2;
    background: red;
    display: none;
}

.wrapper img{
    position: absolute;
    width: 100%;
    height: 100svh;
    object-fit: cover;
    object-position: center;
}

.canyon{
    z-index: 1;
    --parallax-speed: 10;
}
.sky{
    z-index: -2;
    --parallax-speed: 25;
}

.moon{
    z-index: -1;
    width: 50% !important;
    bottom: 15%;
    height: unset !important;
    left: 50%;
    --parallax-speed: -20;
}


.welcome-section{
    height: 100vh;
    width: 100%;
}


.welcome-section > h1{
    text-align: center;
    transform: translateY(300px);
    font-family: Poppins, sans-serif;
    color: white;
    font-size: 3.5rem;
    --parallax-speed: 40;
}

/* ABOUT ME Styles */
.about-me{
    margin: auto;
    padding: 4rem 2rem;
    background: #0F0015;
    width: 100%;
    z-index: 1;
    position: relative;
}

.about-me::before{
    content: "";
    width: 120%;
    height: 10%;
    top: -50px;
    left: -10%;
    position: absolute;
    filter: blur(15px);
    background: #0F0015;
}
.about-me .section-content{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.about-me .section-content p, .about-me .section-content h2{
    text-align: center;
    font-family: Poppins, sans-serif;
    color: rgba(196, 196, 196, 0.2);
}

.about-me .section-content h2{
    font-size: 1.85rem;
    margin-bottom: 1em;
}

h2 span.scroll-reveal{
    animation-range: cover 20% contain 50%;
}

p span.scroll-reveal{
    animation-range: cover 40% contain 50%;
}

.about-me .section-content header{
    margin-bottom: 4em;
}

figure{
    width: 100%;
}

figure .code-wrapper{
    width: 100%;
    padding: 2rem;
    height: unset;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #2f2e2e8e;
    background: #331A3D;
}

.circle-design-wrapper{
    width: 100%;
    height: 20%;
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.circle-design-wrapper .circles{
    width: 30px;
    height: 30px;
    background: yellow;
    border-radius: 50%;
}

.circle-design-wrapper .circles:nth-child(1){
    background-color: #FF6F6F;
}
.circle-design-wrapper .circles:nth-child(2){
    background-color: #F9C780;
}
.circle-design-wrapper .circles:nth-child(3){
    background-color: #95FBA1;
}

.code-contents li{
    color: white;
    list-style-position: inside;
    overflow-x: unset !important;
}

.code-contents li::marker{
    color: #8B8B8B;
}

.about-me .code-wrapper.reveal-fade{
    animation-range: cover 30% contain 50%;
}

/* PROJECTS SECTION Styles */
.projects-section{
    padding: 4rem 0 0;
    width: 100%;
    background: white;
    position: relative;
    z-index: 1;
}

.projects-section .section-content{
    width: 100%;
    height: 100%;
}

.projects-section .section-header{
    padding: 0 2rem;
    margin: unset;
    margin-bottom: 4rem;
    width: 100%;
    text-align: center;
}

.projects-section .section-content .section-header {
    font-family: Shrikhand, sans-serif;
    color: #202020;
    font-size: 1.85rem;
}

.projects-section .section-content .section-header span{
    color: #331A3D;
}

.projects-wrapper{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 4rem 2rem;
    width: 100%;
    height:fit-content;
    background-color: #0F0015;
}

.projects-wrapper .project-links .project{
    height: 250px;
    border-radius: 12px;
    position: relative;
}

.project .project-header{
    font-family: Poppins, sans-serif;
    width: 100%;
    position: absolute;
    height: 30%;
    bottom: 0;
    background-color: #200D27;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    color: white;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    transition: all 0.3s ease-in-out;
}


.project .project-header h3{
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
}


.project-links:nth-child(1) .project{
    background: url("https://github.com/Alyssandria/images_repo/blob/main/Technical%20Documentation%20Preview.png?raw=true")  #30303057 center/cover;
    background-blend-mode: multiply;
    animation-range: cover 10% contain 20%;
    
}
.project-links:nth-child(2) .project{
    background: url("https://github.com/Alyssandria/images_repo/blob/main/Stride%20Preview.png?raw=true")  #30303057 45%/cover;
    background-blend-mode: multiply;
    animation-range: cover 20% contain 40%;
}

.project-links:nth-child(3) .project{
    background: url("https://github.com/Alyssandria/images_repo/blob/main/Recipe%20Preview.png?raw=true")  #30303057 center/cover;
    background-blend-mode: multiply;
    animation-range: cover 30% contain 50%;
}
.project-links:nth-child(4) .project{
    background: url("https://github.com/Alyssandria/images_repo/blob/main/Accordion%20Preview.png?raw=true")  #30303057 center/cover;
    background-blend-mode: multiply;
    animation-range: cover 40% contain 45%;
}

/* CONTACTS STYLES */
.contacts-section{
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: #351E3E;
    padding: 4rem 2rem;
}

.contacts-section .section-content .section-header{
    font-family: Shrikhand, sans-serif;
    font-size: 2rem;
    color: white;
}

.contacts-section .section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    flex-direction: column;
}

.contacts-section .contact-links{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
}

.contacts-section .contact-links #profile-link{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}
.contacts-section .contact-links #profile-link i{
    transition: all .3s ease-in-out;
    scale: 1;
}

/* FOOTER STYLES */

footer{
    font-size: .8rem;
    color: grey;
    font-family: Shrikhand, sans-serif;
    text-align: center;
    padding: 1rem 2rem;
}



/* HOVER STATES */
.projects-section .project-links:hover .project-header{
    height: 50%;
    transition: all .5s ease;
}

.contacts-section .contact-links #profile-link:hover i{
    font-size: 2.5rem;
}


/* MEDIA QUERIES */
@media (prefers-reduced-motion: no-preference){

    *{
        scroll-behavior: smooth;
    }
    @keyframes parallax-effect {
        
        60%{
            opacity: 1;
        }

        80%{
            opacity: 0;
        }
        to{
            transform: translateY(
                calc(var(--parallax-speed) * 100px)
            );
            opacity: 0;
        }
    }

    @keyframes scroll-reveal {
        to{
            background-size: 100%;
        }
    }

    @keyframes reveal-fade{
        from{
            opacity: 0;
            scale: .2;
        }
        
        to{
            opacity: 1;
            scale: 1;
        }
    }
}


